box.d-box {
  margin-top: 8px;
  margin-bottom: 16px;
  margin-left: 8px;
  margin-right: 8px;
}

box.d-box label.d-title {
  font-weight: bold;
  font-size: small;
}

box.d-box label.d-info {
  font-size: x-small;
}
