/**


  */

@define-color metalcard #d8d8d8;
@define-color metalcard-dark #4a4a4a;

.headerbox {
  background-color: @metalcard;
  box-shadow: none;
  margin-top: 12px;
  margin-bottom: 12px;
  padding-top: 12px;
  padding-bottom: 4px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 12px;
}

.popped-view {
  background-color: @metalcard-dark;
  color: @light_1;
}

.default-view {
}

.status-box {
}

.icon {
  margin: 0;
  padding-top: 12px;
  padding-bottom: 12px;
}

.icon.red {
  color: @red_5;
}

.status-box label.title {
  padding-left: 0; /* no idea why theres padding here, have to remove it */
  font-weight: bolder;
}

.status-box label.description {
  font-weight: bold;
  font-size: small;
  line-height: 1.35em;
}

.status-box.red label.title {
  color: @red_5;
}

.status-box.red label.description {
  color: mix(@red_5, @dark_1, 0.3);
}

.peek-button {
  color: @white_2;
}

.status-box scrolledwindow {
  padding: 0px;
}

.build-box {
}

.build-box label.title {
  font-weight: bolder;
}

.build-box label.line {
  font-weight: bold;
  font-size: small;
  line-height: 1.35em;
}

.metal-fade-right undershoot.right {
  background: linear-gradient(
    to right,
    alpha(@metalcard, 0) 0%,
    alpha(@metalcard, 1) 100%
  );
}

.metal-fade-top undershoot.top {
  background: linear-gradient(
    to top,
    alpha(@metalcard, 0) 0%,
    alpha(@metalcard, 0) 50%,
    alpha(@metalcard, 1) 100%
  );
}

scrolledwindow.noscrollbar scrollbar {
  opacity: 0;
}

.panel {
  /*background-color: @metalcard;*/
  border-radius: 0px 0px 12px 12px;
}

.hollow {
  color: alpha(currentColor, 0.7);
  transition-property: color;
  transition-delay: 1s;
  transition-duration: 500ms;
}

.hollow:hover {
  color: alpha(currentColor, 1);
  transition-property: color;
  transition-delay: 0s;
  transition-duration: 300ms;
}

.hollow-full {
  opacity: 0.6;
  transition-property: opacity;
  transition-delay: 1s;
  transition-duration: 500ms;
}

.hollow-full:hover {
  opacity: 1;
  transition-property: opacity;
  transition-delay: 0s;
  transition-duration: 300ms;
}

.panel .profile-name {
  font-weight: normal;
}

.transition {
  background: linear-gradient(
    to top,
    alpha(@metalcard, 1) 0%,
    alpha(@metalcard, 1) 70%,
    alpha(@metalcard, 0) 100%
  );
}

.compact-button {
  padding: 0px 12px;
}

.count {
  font-weight: normal;
}

.status-box scrollbar {
  margin-bottom: 36px;
}

.panel scrolledwindow undershoot.right {
  background: linear-gradient(
    to right,
    alpha(@metalcard, 0) 0%,
    alpha(@metalcard, 0.2) 80%,
    @metalcard 100%
  );
}

.panel scrolledwindow undershoot.left {
  background: linear-gradient(
    to left,
    alpha(@metalcard, 0) 0%,
    alpha(@metalcard, 0.2) 80%,
    @metalcard 100%
  );
}

.panel scrollbar {
  opacity: 0;
}
.status-box scrolledwindow {
  padding: 0px;
}

.empty-status {
  opacity: 0.1;
}
