.status-box {
  background-color: #4a4a4a;
  box-shadow: none;
  margin-top: 12px;
  margin-bottom: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 12px;
}

.status-box .icon {
  color: @red_1;
}

.status-box label.title {
  color: @red_1;
  padding-left: 0; /* no idea why theres padding here, have to remove it */
  font-weight: bolder;
}

.status-box label.description {
  color: mix(@red_1, @dark_1, 0.3);
  font-weight: bold;
  font-size: small;
  line-height: 1.35em;
}

.peek-button {
  color: @white_2;
}

.status-box scrolledwindow {
  padding: 0px;
}

.show {
  margin-bottom: 16px;
  /* margin-right: 28px; */
  color: #fff;
}

.panel {
  /*background-color: #4a4a4a;*/
  border-radius: 0px 0px 12px 12px;
}

.panel .profile-name {
  font-weight: normal;
}

.transition-final {
  background: linear-gradient(
    to top,
    alpha(#4a4a4a, 0.9) 0%,
    alpha(#4a4a4a, 0) 100%
  );
}

.transition-first {
  background: linear-gradient(
    to top,
    alpha(#4a4a4a, 1) 0%,
    alpha(#4a4a4a, 1) 70%,
    alpha(#4a4a4a, 0.9) 100%
  );
}

.thin-button {
  padding: 0px 12px;
}

.count {
  font-weight: normal;
}

.status-box scrollbar {
}

.show scrolledwindow undershoot.right {
  background: linear-gradient(
    to right,
    alpha(#4a4a4a, 0) 0%,
    alpha(#4a4a4a, 0.2) 80%,
    #4a4a4a 100%
  );
}

.show scrolledwindow undershoot.left {
  background: linear-gradient(
    to left,
    alpha(#4a4a4a, 0) 0%,
    alpha(#4a4a4a, 0.2) 80%,
    #4a4a4a 100%
  );
}

.show scrollbar {
  opacity: 0;
}
