.boxedlist .boxedlist-row:not(:first-child) {
  border-top: 1px inset alpha(@dark_5, 0.4);
}

@define-color metalcard #4a4a4a;
@define-color metalcard-dark #d8d8d8;

/**
 * inject-button-set
 */

.inject-button-3 .red spinner {
  color: @light_1;
}

/**
 * headerbox
 */

.popped-view {
  background-color: #000;
}

.icon.red {
  color: @red_1;
}

.status-box.red label.title {
  color: @red_1;
}

.status-box.red label.description {
  color: mix(@red_1, @dark_1, 0.3);
}
