.row-content {
  padding-left: 10px;
}


.download-page-row {
  padding-top: 12px;
  padding-bottom: 12px;
}

splitbutton.omnibar {
  background: alpha(currentColor, 0.075);
}

splitbutton.omnibar > button {
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}

.run-button > button {
  color: #3584e4;
}

/**
 *
 * addon-details
 *
 */

.context-tile {
  border: 1px solid @card_shade_color;
  /*  background-color: transparent; */
  border-radius: 0;
  padding: 24px 12px 21px 12px;
  outline-offset: 5px;
  /*  transition-property: outline, outline-offset, background-image; */
  border-bottom: none;
  border-right: none;
}

.lozenge {
  font-size: 18px;
  font-weight: bold;
  border-radius: 99999px;
  padding: 9px 11px;
  min-width: 18px; /* 40px minus the left and right padding */
  min-height: 22px; /* 40px minus the top and bottom padding */
}

.lozenge.grey {
  color: alpha(@window_fg_color, 0.75);
  background-color: alpha(@window_fg_color, 0.15);
}

.lozenge.blue {
  color: @blue_4;
  background-color: alpha(@blue_3, 0.25);
}

.drag-handle {
  color: alpha(@theme_fg_color, 0.4);
}

.drag-handle:backdrop {
  color: alpha(@theme_unfocused_fg_color, 0.4);
}

.tag {
border-radius: 99999px;
padding: 4px 12px;
font-size: 20px;
font-weight: bold;
/*
text-transform: uppercase;
*/
}

.green {
color: #57e389;
}

.lighter-green {
color: lighter(#57e389);
}

.tile {

}

.addon-details .addon-title {
  font-weight: bold;
  font-size: small;
}

.addon-details .addon-title {
  font-size: small;
}

.red trough > progress {
  background-color: #e01b24;
}

.yellow trough > progress {
  background-color: #f6d32d;
}

.size-subtitle {
  font-size: small;
}

preferencesgroup.danger-zone list {
  border: 2px solid #e01b24;
}

.inject-button {
  padding-bottom: 0px;
  padding-top: 0px;
  font-weight: bold;
  background-color: @green_4;
  color: white;
}

.inject-button-2 {
  color: @blue_2;
}

.profile-popover label.profile-name {
  font-weight: bold;
}

.profile-popover label.profile-id {
  font-family: monospace;
}

.terminal {
  font-family: monospace;
  padding: 7px 10px;
  background-color: #4A4A4A;
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.new-button {
  padding-bottom: 0px;
  padding-top: 0px;
}

.launchpad-row .icon {
  background-color: @blue_3;
  border-radius: 999px;
  padding: 8px;
  margin: 8px;
}

.launchpad-row .ztitle {

}

.launchpad-row .zsubtitle {
  color: @light_5;
  font-size: small;
}

.launchpad-row .zexcerpt {
  color: @light_5;
  font-size: small;
}
