.row-content {
  padding-left: 10px;
}


.download-page-row {
  padding-top: 12px;
  padding-bottom: 12px;
}

splitbutton.omnibar {
  background: alpha(currentColor, 0.075);
}

splitbutton.omnibar > button {
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}

.run-button > button {
  color: #3584e4;
}
