label.terminal {
  font-family: monospace;
  font-size: smaller;
}

.launchpad-row .icon {
  background-color: @blue_3;
  border-radius: 999px;
  padding: 8px;
  margin: 8px;
}

.launchpad-row .zsubtitle {
  color: @light_5;
  font-size: small;
}

.launchpad-row .zexcerpt {
  color: @light_5;
  font-size: small;
}

.thin-button {
  padding-bottom: 0;
  padding-top: 0;
  font-weight: bold;
}

.row-content {
  padding-left: 10px;
}

.download-page-row {
  padding-top: 12px;
  padding-bottom: 12px;
}

/**
 *
 * addon-details
 *
 */

.context-tile {
  border: 1px solid @card_shade_color;
  /*  background-color: transparent; */
  border-radius: 0;
  padding: 24px 12px 21px 12px;
  outline-offset: 5px;
  /*  transition-property: outline, outline-offset, background-image; */
  border-bottom: none;
  border-right: none;
}

.lozenge {
  font-size: 18px;
  font-weight: bold;
  border-radius: 99999px;
  padding: 9px 11px;
  min-width: 18px; /* 40px minus the left and right padding */
  min-height: 22px; /* 40px minus the top and bottom padding */
}

.lozenge.grey {
  color: alpha(@window_fg_color, 0.75);
  background-color: alpha(@window_fg_color, 0.15);
}

.lozenge.blue {
  color: @blue_4;
  background-color: alpha(@blue_3, 0.25);
}

.drag-handle {
  color: alpha(@theme_fg_color, 0.4);
}

.drag-handle:backdrop {
  color: alpha(@theme_unfocused_fg_color, 0.4);
}

.tag {
  border-radius: 99999px;
  padding: 4px 12px;
  font-size: 20px;
  font-weight: bold;
}

.green {
color: #57e389;
}

.lighter-green {
color: lighter(#57e389);
}

.addon-details .addon-title {
  font-weight: bold;
  font-size: small;
}

.addon-details .addon-title {
  font-size: small;
}

.red trough > progress {
  background-color: #e01b24;
}

.yellow trough > progress {
  background-color: #f6d32d;
}

.size-subtitle {
  font-size: small;
}

preferencesgroup.danger-zone list {
  border: 2px solid #e01b24;
}

/**
 * Inject
 */

.inject-button-3 .blue > button {
  color: @blue_2;
}

.inject-button-3 .red > button {
  color: @red_2;
}

.inject-button-3 .red spinner {
  color: @dark_5;
}

/**
 * Profile Bar
 */

profile-bar {
  padding: 0px;
  min-height: 0px;
  border-radius: 8px;
  background: alpha(currentColor, 0.075);
}

profile-bar button {
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

profile-bar separator {
  transition-property: background;
  transition-duration: 300ms;
}

profile-bar:hover separator,
profile-bar.active separator {
  background: transparent;
  transition-property: background;
  transition-duration: 300ms;
}

/**
 * HeaderBox
 * headerbox
 */

@define-color metalcard #d8d8d8;
@define-color metalcard-dark #4a4a4a;

headerbox .headerbox-card {
  background-color: @metalcard;
  box-shadow: none;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 12px;
}

headerbox .profile-label {
  font-weight: bold;
}

headerbox .popped-view {
  background-color: @metalcard-dark;
  color: @light_1;
}

headerbox .default-content {
  margin-top: 8px;
}

headerbox .status-box {
}

headerbox .icon {
  margin: 0;
  padding-top: 12px;
  padding-bottom: 12px;
}

headerbox .icon.red {
  color: @red_5;
}

headerbox .status-box label.title {
  padding-left: 0;
  font-weight: bolder;
}

headerbox .status-box label.description {
  font-weight: bold;
  font-size: small;
  line-height: 1.3em;
}

headerbox .status-box.red label.title {
  color: @red_5;
}

headerbox .status-box.red label.description {
  color: mix(@red_5, @dark_1, 0.3);
}

headerbox .peek-button {
  color: @white_2;
}

headerbox .status-box scrolledwindow {
  padding: 0px;
}

headerbox .metal-fade-right undershoot.right {
  background: linear-gradient(
    to right,
    alpha(@metalcard, 0) 0%,
    alpha(@metalcard, 1) 100%
  );
}

headerbox .metal-fade-top undershoot.top {
  background: linear-gradient(
    to top,
    alpha(@metalcard, 0) 0%,
    alpha(@metalcard, 0) 50%,
    alpha(@metalcard, 1) 100%
  );
}

scrolledwindow.noscrollbar scrollbar {
  opacity: 0;
}

headerbox .panel {
  border-radius: 0px 0px 12px 12px;
}

headerbox .hollow {
  color: alpha(currentColor, 0.7);
  transition-property: color;
  transition-delay: 1s;
  transition-duration: 500ms;
}

headerbox .hollow:hover {
  color: alpha(currentColor, 1);
  transition-property: color;
  transition-delay: 0s;
  transition-duration: 300ms;
}

headerbox .hollow-full {
  opacity: 0.6;
  transition-property: opacity;
  transition-delay: 1s;
  transition-duration: 500ms;
}

headerbox .hollow-full:hover {
  opacity: 1;
  transition-property: opacity;
  transition-delay: 0s;
  transition-duration: 300ms;
}

headerbox .panel .profile-name {
  font-weight: normal;
}

headerbox .transition {
  background: linear-gradient(
    to top,
    alpha(@metalcard, 1) 0%,
    alpha(@metalcard, 1) 70%,
    alpha(@metalcard, 0) 100%
  );
}

headerbox .compact-button {
  padding: 0px 12px;
}

headerbox .count {
  font-weight: normal;
}

headerbox .status-box scrollbar {
  margin-bottom: 36px;
}

headerbox .panel scrolledwindow undershoot.right {
  background: linear-gradient(
    to right,
    alpha(@metalcard, 0) 0%,
    alpha(@metalcard, 0.2) 80%,
    @metalcard 100%
  );
}

headerbox .panel scrolledwindow undershoot.left {
  background: linear-gradient(
    to left,
    alpha(@metalcard, 0) 0%,
    alpha(@metalcard, 0.2) 80%,
    @metalcard 100%
  );
}

headerbox .panel scrollbar {
  opacity: 0;
}
headerbox .status-box scrolledwindow {
  padding: 0px;
}

headerbox .build-box label.title {
  padding-left: 0;
  font-weight: bolder;
}

headerbox .build-box label.line {
  font-weight: bold;
  font-size: small;
  line-height: 1.35em;
}

/* Adapted from https://gitlab.gnome.org/GNOME/gnome-text-editor/-/blob/cd6e111e3142a80f509684e65c104c8b3a097761/src/style.css */

/* ThemeSelector */
themeselector {
  margin: 9px;
}

themeselector checkbutton {
  padding: 0;
  min-height: 44px;
  min-width: 44px;
  padding: 1px;
  background-clip: content-box;
  border-radius: 9999px;
  box-shadow: inset 0 0 0 1px @borders;
}

themeselector checkbutton.follow:checked,
themeselector checkbutton.light:checked,
themeselector checkbutton.dark:checked {
  box-shadow: inset 0 0 0 2px @theme_selected_bg_color;
}

themeselector checkbutton.follow {
  background-image: linear-gradient(
    to bottom right,
    #fff 49.99%,
    #202020 50.01%
  );
}

themeselector checkbutton.light {
  background-color: #fff;
}

themeselector checkbutton.dark {
  background-color: #202020;
}

themeselector checkbutton radio {
  -gtk-icon-source: none;
  border: none;
  background: none;
  box-shadow: none;
  min-width: 12px;
  min-height: 12px;
  transform: translate(27px, 14px);
  padding: 2px;
}

checkbutton.theme-selector radio:checked {
  -gtk-icon-source: -gtk-icontheme("object-select-symbolic");
  background-color: @theme_selected_bg_color;
  color: @theme_selected_fg_color;
}

#primary-view-switcher {
  margin-top: -2px;
}

.empty-status {
  opacity: 0.1;
}

/**
 * spinning-button
 */

.invisible-text label {
  opacity: 0;
}

/**
 * Icon with badge
 */

badge {
  margin-top: -8px;
  margin-right: -8px;
  padding-left: 6px;
  padding-right: 6px;
  font-size: x-small;
  color: @light_1;
  font-weight: bolder;
  background-color: @blue_3;
  border-radius: 99em;
}
